---
import { Icon } from 'astro-icon/components';

const { items } = Astro.props;
---

<nav class='flex' aria-label='Breadcrumb'>
  <ol class='inline-flex items-center space-x-1 md:space-x-3'>
    <li class='inline-flex items-center'>
      <a
        href='/'
        class='inline-flex items-center text-sm font-medium text-black-300 hover:text-primary transition-colors'
      >
        <Icon name='house' class='w-4 h-4 mr-2' />
        Home
      </a>
    </li>
    {
      items.map(
        (
          item: { href: string | URL | null | undefined; label: unknown },
          index: any
        ) => (
          <li>
            <div class='flex items-center'>
              <Icon name='chevron-right' class='text-sm text-black-300' />
              <a
                href={item.href}
                class='ml-1 text-sm font-medium text-black-300 hover:text-primary md:ml-2 transition-colors'
              >
                {item.label}
              </a>
            </div>
          </li>
        )
      )
    }
  </ol>
</nav>
